
.navigationBar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 7%;
  float: none;
  position: fixed;
  overflow: hidden;
  background-color: #232a34;
  color: #ffffff;
  margin-bottom: 0;


  border-radius: 20px;

  margin-left: 0;
}
li {
  float:right;
}
li a:hover {
  background-color: #343b45;
}
li a:active{
  background-color: #05a081;
}
.navLink{
  color: #ffffff;
  height:auto;
  display: block;
  padding:14px 16px;
  text-align: center;
  position: static;
}
.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
.content{
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.content::after{
  float: none;
  width:100%;
  margin-top: auto;
  height:100%;
  }
